<!DOCTYPE HTML>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Удалить мебель</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<header>
    <h1>Удалить мебель</h1>
</header>
<article>
    <form method="post" th:object="${idForm}">
        <div>
            <p>Идентификатор</p>
            <label>
                <input name="id" placeholder="id" th:field="*{id}" type="number"/>
            </label>
            <span th:errors="*{id}" th:if="${#fields.hasErrors('id')}">id error</span>
        </div>
        <div>
            <br>
            <button type="submit">Удалить</button>
        </div>
    </form>
</article>
<footer>
    <hr>
    <a href="/">Домой</a>
</footer>
</body>
</html>
