<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <title>Удалить мебель</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <h1>Удалить мебель</h1>
</header>
<article>
    <form th:object="${idForm}" method="post">
        <div>
            <p>Идентификатор</p>
            <label>
                <input type="number" name="id" th:field="*{id}" placeholder="id"/>
            </label>
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id error</span>
        </div>
        <div>
            <br>
            <button type="submit">Удалить</button>
        </div>
    </form>
</article>
<footer>
    <hr>
    <a href="/">Домой</a>
</footer>
</body>
</html>
